 
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="wIDth=device-wIDth, initial-scale=1">
<title>Python Flask add edit delete Row Using Jquery Ajax and mysqldb database</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="styles.css">

 

<style type="text/css">
    body {
        color: #404E67;
        background: #F5F7FA;
  font-family: 'Open Sans', sans-serif;
 }
 .table-wrapper {
  wIDth: 700px;
  margin: 30px auto;
        background: #fff;
        padding: 20px; 
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
    }
    .table-title h2 {
        margin: 6px 0 0;
        font-size: 22px;
    }
    .table-title .add-new {
        float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-wIDth: 100px;
  border-radius: 50px;
  line-height: 13px;
    }
 .table-title .add-new i {
  margin-right: 4px;
 }
    table.table {
        table-layout: fixed;
    }
    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
    }
    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }
    table.table th:last-child {
        wIDth: 100px;
    }
    table.table td a {
  cursor: pointer;
        display: inline-block;
        margin: 0 5px;
  min-wIDth: 24px;
    }   
 table.table td a.add {
        color: #27C46B;
    }
    table.table td a.edit {
        color: #FFC107;
    }
    table.table td a.delete {
        color: #E34724;
    }
    table.table td i {
        font-size: 19px;
    }
 table.table td a.add i {
        font-size: 24px;
     margin-right: -1px;
        position: relative;
        top: 3px;
    }    
    table.table .form-control {
        height: 32px;
        line-height: 32px;
        box-shadow: none;
        border-radius: 2px;
    }
 table.table .form-control.error {
  border-color: #f50000;
 }
 table.table td .add {
  display: none;
 }


 /* Custom CSS */
.thead-custom {
  background-color: #464040; /* Set your desired background color */
  color: white; /* Set your desired font color */
}

</style>
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    var actions = $("table td:last-child").html();
    // Append table with add row form on add new button click
    $(".add-new").click(function(){
        $(this).attr("disabled", "disabled");
        var index = $("table tbody tr:last-child").index();
        var row = '<tr>' +
            '<td><input type="text" class="form-control" name="MacAddress" id="txtMacAddress"></td>' +
            '<td><input type="text" class="form-control" name="Latitude" id="txtLatitude"></td>' +
            '<td><input type="text" class="form-control" name="Longitude" id="txtLongitude"></td>' +
            '<td><input type="text" class="form-control" name="Atitude" id="txtAtitude"></td>' +
            '<td><input type="text" class="form-control" name="Height" id="txtHeight"></td>' +
            '<td><input type="text" class="form-control" name="dateandtime" id="txtdateandtime"></td>' +
        '<td>' + actions + '</td>' +
        '</tr>';
        $("table").append(row);  
        $("table tbody tr").eq(index + 1).find(".add, .edit, .delete").toggle();
        $('[data-toggle="tooltip"]').tooltip();
 
    });
   
    // Add row on add button click
    $(document).on("click", ".add", function(){
        var empty = false;
        var input = $(this).parents("tr").find('input[type="text"]');
        input.each(function(){
            if(!$(this).val()){
                $(this).addClass("error");
                empty = true;
            } else{
                $(this).removeClass("error");
            }
        });
        var  txtMacAddress = $("#txtMacAddress").val();
        var txtLatitude = $("#txtLatitude").val();
        var txtLongitude = $("#txtLongitude").val();
        var  txtAtitude = $("#txtAtitude").val();
        var txtHeight = $("#txtHeight").val();
        var txtdateandtime = $("#txtdateandtime").val();


        $.post("/ajax_add", {  txtMacAddress:  txtMacAddress, txtLatitude: txtLatitude, txtLongitude: txtLongitude , txtAtitude: txtAtitude , txtHeight: txtHeight, txtdateandtime: txtdateandtime }, function(data) {
            $("#displaymessage").html(data);
            $("#displaymessage").show();
        });
        $(this).parents("tr").find(".error").first().focus();
        if(!empty){
            input.each(function(){
                $(this).parent("td").html($(this).val());
            });   
            $(this).parents("tr").find(".add, .edit").toggle();
            $(".add-new").removeAttr("disabled");
        } 
    });
    // Delete row on delete button click
    $(document).on("click", ".delete", function(){
        $(this).parents("tr").remove();
        $(".add-new").removeAttr("disabled");
        var id = $(this).attr("id");
       
        var string = id;
        $.post("/ajax_delete", { string: string}, function(data) {
            $("#displaymessage").html(data);
            $("#displaymessage").show();
        });
    });
    // update rec row on edit button click
    $(document).on("click", ".update", function(){
        var id = $(this).attr("id");
        var string = id;
        var  txtMacAddress = $("#txtMacAddress").val();
        var txtLatitude = $("#txtLatitude").val();
        var txtLongitude = $("#txtLongitude").val();
        var  txtAtitude = $("#txtAtitude").val();
        var txtHeight = $("#txtHeight").val();
        var txtdateandtime = $("#txtdateandtime").val();
        $.post("/ajax_update", { string: string, txtMacAddress:  txtMacAddress, txtLatitude: txtLatitude, txtLongitude: txtLongitude , txtAtitude: txtAtitude , txtHeight: txtHeight, txtdateandtime: txtdateandtime }, function(data) {
            $("#displaymessage").html(data);
            $("#displaymessage").show();
        });
         
         
    });
    // Edit row on edit button click
    $(document).on("click", ".edit", function(){  
        $(this).parents("tr").find("td:not(:last-child)").each(function(i){
            if (i=='0'){
                var IDname = 'txtMacAddress';
            }else if (i=='1'){
                var IDname = 'txtLatitude';
            }else if (i=='2'){
                var IDname = 'txtLongitude';
            }else if (i=='3'){
                var IDname = 'txtAtitude';
            }else if (i=='4'){
                var IDname = 'txtHeight';
                
            }else if (i=='5'){
                var IDname = 'txtdateandtime';
            }else{} 
            $(this).html('<input type="text" name="updaterec" ID="' + IDname + '" class="form-control" value="' + $(this).text() + '">');
        }); 
        $(this).parents("tr").find(".add, .edit").toggle();
        $(".add-new").attr("disabled", "disabled");
        $(this).parents("tr").find(".add").removeClass("add").addClass("update"); 
    });
});




</script> 
</head>

<body>
    <div class="container-fluid"><p><h1 align="center">Drone Scanner Database Search</h1></p>
        <div   class="table table-bordered table table-striped  ">

          

            <div class="table-title">
                <div class="row">
                    <div class="col-sm-4"><h2>Database <b>Details</b></h2></div>
                     
                    <div class="col-sm-4">

                        <div class="form-group has-search">
                            <span style="margin-right: 10px;" class="fa fa-search form-control-feedback"></span>
                            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" class="form-control">
                            </div>
                          

                    </div>

                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                    <div class='btn btn-info' id="displaymessage" style="display:none;wIDth:100%;margin-top:10px;"></div>
                </div>
            </div>

            <table id="myTable" class="table table-bordered table table-striped  ">
                <thead class="thead-custom" >
                    <tr>
                        <th>MacAddress</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Altitude</th>
                        <th>Height</th>
                        <th>dateandtime</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in employee %}    
                    <tr>
                        <td>{{row.macaddress}}</td>
                        <td>{{row.Lat}}</td>
                        <td>{{row.Lon}}</td>
                        <td>{{row.Altitude}}</td>
                        <td>{{row.height}}</td>
                        <td>{{row.dateandtime}}</td>
                        <td>
                           
                            <a class="add" title="Add" data-toggle="tooltip" name="{{row.id}}" data-id="{{row.id}}"><i class="fa fa-user-plus"></i></a>
                            <a class="edit" title="Edit" data-toggle="tooltip" name="{{row.id}}" data-id="{{row.id}}"><i class="fa fa-pencil"></i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip" name="{{row.id}}" data-id="{{row.id}}"><i class="fa fa-trash-o"></i></a>
                            
                        </td>
                    </tr>   
                    {% endfor %}    
                </tbody>
            </table>
        </div>
    </div>   
    
      
    <script>
   

        function myFunction() {
           var input, filter, table, tr, td, i, txtValue;
           input = document.getElementById("myInput");
           filter = input.value.toUpperCase();
           table = document.getElementById("myTable");
           tr = table.getElementsByTagName("tr");
           for (i = 1; i < tr.length; i++) { // Start from 1 to skip the header row
             var allTDs = tr[i].getElementsByTagName("td");
             var found = false; // Flag to indicate if the filter matches any content in the row
     
             for (index = 0; index < allTDs.length - 1; index++) { // Exclude the last column (Delete button column)
               txtValue = allTDs[index].textContent || allTDs[index].innerText;
               if (txtValue.toUpperCase().indexOf(filter) > -1) {
                 found = true;
                 break;
               }
             }
     
             if (found) {
               tr[i].style.display = "";
             } else {
               tr[i].style.display = "none";
             }
           }
         }
     
         
             function deleteRow(btn) {
               var row = btn.parentNode.parentNode;
               row.parentNode.removeChild(row);
             }
         
             function modifyRow(btn) {
           var row = btn.parentNode.parentNode;
           var cells = row.getElementsByTagName("td");
           var rowData = {};
         
           for (var i = 0; i < cells.length - 1; i++) { // Exclude the last column (Action buttons column)
             var header = document.querySelector("#myTable th:nth-child(" + (i + 1) + ")").innerText;
             rowData[header] = cells[i].innerText;
           }
         
           // Assuming you have a way to collect updated data from the user, let's call it updatedData
           var updatedData = prompt("Enter updated data (comma-separated values for each field):");
           if (updatedData !== null) {
             var requestData = { "rowData": rowData, "updatedData": updatedData };
         
             // Send the updated data to the server using AJAX (Assuming it's a PHP endpoint named 'update.php')
             $.ajax({
               type: "POST",
               url: "update.php",
               data: requestData,
               success: function(response) {
                 alert(response); // Show the response from the server
                 // Optionally, update the UI or perform actions based on the server's response
               },
               error: function(xhr, status, error) {
                 console.error(xhr.responseText); // Log error message if any
               }
             });
           }
         }
         
           </script>
     
     
     
     </body>
     </html> 