<!DOCTYPE html>
<html>
<head>
  <title>Database Search</title>
</head>
<body style="text-align: center;">
  <h1>Database Search</h1>
  <form method="POST" action="{{ url_for('results') }}">
    <label for="start_date">Start Date:</label>
    <input type="date" id="start_date" name="start_date"><br><br>
    <label for="end_date">End Date:</label>
    <input type="date" id="end_date" name="end_date"><br><br>
    <input type="submit" value="Search">
  </form>
  <h2> This is Local server</h2>
</body>
</html>
